/* EmployeeSearch private styles */
.search-result li {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  width: 300px;
  height: 30px;
  padding: 5px;
  background-color: #eee;
  cursor: pointer;
  list-style-type: none;
}
 
.search-result li:hover {
  background-color: #eee;
}
 
.search-result li a {
  color: rgb(17, 15, 15);
  display: block;
  text-decoration: none;
}
 
.search-result li a:hover {
  color: rgb(8, 8, 8);
}
.search-result li a:active {
  color: rgb(19, 17, 17);
}
#search-box {
  width: 300px;
  height: 30px;
  padding: 5px;
}
 
 
ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

button.update {
  position: relative;
  left: 250px;
  top: -32px;
  background-color: gray !important;
  color: white;
}

example-card {
  max-width: 200px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
} 